<main>
  <h1>Main page</h1>
  <ul>
    <li><a [routerLink]="['/']">Home page</a></li>

    <li>
      <a [routerLink]="['/asia-olympic-games']">Asia Olympic Games</a>
      <ul>
        <li><a [routerLink]="['/asia-olympic-games/olympic-sport-types']">Olympic sport types</a></li>
        <li><a [routerLink]="['/asia-olympic-games/participants']">Participants</a></li>
        <li><a [routerLink]="['/asia-olympic-games/winners']">Winners</a></li>
      </ul>
    </li>

    <li>
      <a [routerLink]="['/territory']">Territory</a>
      <ul>
        <li><a [routerLink]="['/territory/continents']">Continents</a></li>
        <li><a [routerLink]="['/territory/countries']">Countries</a></li>
      </ul>
    </li>

    <li><a [routerLink]="['/sport']">Sport</a>
      <ul>
        <li><a [routerLink]="['/sport/types']">Types</a></li>
      </ul>
    </li>
  </ul>

  <router-outlet></router-outlet>
</main>


